.pickerArea {
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    max-width: 768px;
    margin: auto;
    justify-content: left;
}
.clickableArea {
    padding: 12px;
    margin: 3px;
}
.levelStatus {
    aspect-ratio: 1;
    background-color: cornflowerblue;
    height: 2rem;
    float: left;
    background-repeat: no-repeat;
    background-size: contain;
}
.levelNumber {
    padding-left: 10px;
    float: left;
    height: 100%;
    display: flex;
    align-items:center;
    width: 20px;
}
.complete {
    background-image: url('./images/tick.svg');
}
.unlocked {
    /* blank */
}
.locked {
    background-image: url('./images/lock.svg');
}