.modal {
  /* Put the blockout below the header so game screen is blocked but
  the previous, next, rest and home buttons are available  */
  margin-top: 100px;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: #00000010; /* Black with opacity */
}
.modalBanner {
  background-color: #333333;
  margin-top: 9rem;
  color: #FFFFFF;
}
.modalContent {
  margin: auto;
  max-width: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
}

.complete {
  background-image: url("../LevelPicker/images/tick.svg");
  height: 3rem;
  aspect-ratio: 1;
  background-repeat: no-repeat;
  background-size: contain;
}
.locked {
  background-image: url("../LevelPicker/images/lock.svg");
  height: 3rem;
  aspect-ratio: 1;
  background-repeat: no-repeat;
  background-size: contain;
}