.header {
    height: 100px;
    width: 100%;
    background-color: darkgray;
}
.level {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    /* Remove header, and padding*/
    min-height: calc(100vh - 100px - 2rem);
    background-color: #d8d8d8;
  }
.gameBoard {
    width: 100%;
    max-width: 1000px;
}
.row {
    display: flex;
    width: 100%;
}