.contentArea {
    margin: auto;
    max-width: 768px;
    padding: 2rem;
}

.contentArea button {
    background-color: cornflowerblue;
    width: 80%;
    max-width: 400px;
    margin-top: 20px;
    font-size: 20px;
    height: 50px;
    border: none;
}

.selector:after {
    content:'';
    margin-top: 20px;
    position: absolute;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 25px solid cornflowerblue;
    border-right: 25px solid transparent;
}
